<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","align":"wide","className":"pot-catalog","layout":{"type":"default"}} -->
<main class="wp-block-group alignwide pot-catalog"><!-- wp:woocommerce/store-notices /--><!-- wp:woocommerce/breadcrumbs /-->
<!-- wp:group {"className":"pot-catalog-heading","layout":{"type":"constrained","justifyContent":"left"}} --><div class="wp-block-group pot-catalog-heading"><!-- wp:query-title {"type":"archive","showPrefix":false,"level":1} /--><!-- wp:term-description /--></div><!-- /wp:group -->
<!-- wp:group {"className":"pot-catalog-grid","layout":{"type":"default"}} --><div class="wp-block-group pot-catalog-grid"><!-- wp:pattern {"slug":"purple/product-grid-with-filters"} /--></div><!-- /wp:group --></main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
