<!-- wp:template-part {"slug":"checkout-header","tagName":"header"} /-->
<!-- wp:woocommerce/page-content-wrapper {"page":"checkout"} -->
<!-- wp:group {"tagName":"main","align":"wide","className":"pot-checkout-layout","layout":{"type":"constrained","contentSize":"1100px"}} -->
<main class="wp-block-group alignwide pot-checkout-layout"><!-- wp:woocommerce/store-notices /--><!-- wp:post-content {"align":"wide","layout":{"type":"default"}} /--></main>
<!-- /wp:group --><!-- /wp:woocommerce/page-content-wrapper -->
